<div class="col-md-4 col-lg-3">
  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
    <div
      class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
    >
      <div class="portfolio-item-caption-content text-center text-white">
        <%= book.title %> <br />
        <%= book.author %>
      </div>
    </div>
    <img class="img-fluid" src=<%= book.cover %> alt="got" />
  </div>
</div>
