<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image -->
    <img
      class="masthead-avatar mb-5 rounded-circle"
      src="http://avatars.io/twitter/hello_roman"
      alt=""
    />

    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0">Bibliotekarz app</h1>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <a class="divider-custom-icon" href="#books_list" id="books_list-link">
        <i class="fas fa-book-open fa-2x text-red"></i>
      </a>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading -->
    <p class="masthead-subheading font-weight-light mb-0">
      Kolekcjonuj - Zbieraj - Baw się
    </p>
  </div>
</header>
