<div class="control-group">
  <div class="form-group floating-label-form-group controls mb-0 pb-2">
    <label><%= field.label %> </label>
    <input
      class="form-control"
      name=<%= field.name %>
      type="text"
      placeholder=<%= field.label %>
      required="required"
      data-validation-required-message="Please enter your name."
    />
    <p class="help-block text-danger"></p>
  </div>
</div>
